annotated-doc
anyio
asgiref
certifi
charset-normalizer
click
colorama
contourpy
cycler
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
filelock
fonttools
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
numpy
opencv-python
packaging
pillow
Pygments
PyJWT
pyparsing
python-dateutil
python-dotenv
PyYAML
requests
rich
safetensors
scipy
setuptools
shellingham
six
sqlparse
stripe
sympy
timm
torch
torchvision
tqdm
typer
typing_extensions
tzdata
urllib3
